[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pyqt5 = "*"
pyqtwebengine = "*"
pyqt5-stubs = "*"
pyvis = "*"
numpy = "*"
pandas-stubs = "*"

[dev-packages]
pytest = "*"
mypy = "*"
flake8 = "*"
black = "*"

[requires]
python_version = "3.10"
